# compilação e build
target/
**/target/
*.class
**/out/

# configurações da IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath
.apt_generated

# arquivos do sistema
.DS_Store
Thumbs.db
HELP.md

# maven wrapper
.mvn/wrapper/maven-wrapper.jar