# compilação e build
target/
**/target/
build/
**/build/
*.class
**/out/

# configurações de IDEs
.idea/
**/.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath
.apt_generated
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# arquivos do sistema e documentação
.DS_Store
Thumbs.db
HELP.md
**/HELP.md

# maven wrapper
.mvn/
**/.mvn/
!**/mvnw
!**/mvnw.cmd